# RabbitMQ Configuration
RABBITMQ_HOST=your_rabbitmq_host
RABBITMQ_PORT=your_rabbitmq_port

# MySQL Configuration
MYSQL_HOST=your_mysql_host
MYSQL_PORT=your_mysql_port
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_DB=your_database_name

# Producer Service
PRODUCER_PORT=your_producer_port

# Consumer Service
CONSUMER_PORT=your_consumer_port